{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "plugins": ["jest"],
  "extends": ["airbnb", "next/core-web-vitals", "prettier"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.ts", "**/*.test.tsx"]
      }
    ],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "quotes": ["error", "double"],
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".tsx"]
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "custom": "ignore"
      }
    ],
    "react/require-default-props": "off",
    "react/self-closing-comp": [
      "error",
      {
        "html": false
      }
    ]
  }
}
