{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "plugins": ["jest"],
  "extends": ["airbnb", "next/core-web-vitals", "prettier"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.ts", "**/*.test.tsx"]}],
    "react/function-component-definition": "off",
    "no-underscore-dangle": "off",
    "react/require-default-props": "off",
    "react/self-closing-comp": ["error", { "html": false}],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
    "import/prefer-default-export": "off"
  }
}
