{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSameLine": true
}
