.error {
  color: red;
}

.table {
  margin: 2rem 0;
  border-collapse: collapse;
  width: 100%;
}

.table th {
  text-align: left;
  padding: 0.5rem 1rem;
}

.table td {
  border: 1px solid #eee;
  padding: 0.5rem 1rem;
}
